<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./home-files/css/components-styles.css">
    </head>
    <body>
        <div id="reviews-container">
            <div class="review-header flex gap-4 mt-8">
                <div>
                    <div><img style="border-radius: 50%; width: 40px; height: 40px;" src="https://images.pexels.com/photos/1043474/pexels-photo-1043474.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Picture of reviewer"></div>
                </div>
                <div>
                    <div><h2 class="text-white font-bold">{{ data.name }}</h2></div>
                    <div><h3 class="text-gray-300 font-bold">{{ data.company }}</h3></div>
                </div>
            </div>

            <div class="review-text pl-12">
                <div><p>" {{ data.text }} "</p></div>
            </div>

            <div class="flex pl-14 mb-8">
                <span style="color: #047857;" class="material-symbols-outlined">
                star
                </span><span style="color: #047857;" class="material-symbols-outlined">
                    star
                    </span><span style="color: #047857;" class="material-symbols-outlined">
                        star
                        </span><span style="color: #047857;" class="material-symbols-outlined">
                            star
                            </span><span style="color: #047857;" class="material-symbols-outlined">
                                star
                                </span></div>


        </div>
    </body>
</html>