<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./home-files/css/components-styles.css">
    </head>
    <body>
        <div id="reviews-container">
            <div id="review-header">
                <div>
                    <div><img style="border-radius: 50%;" src="" alt=""></div>
                </div>
                <div>
                    <div><h2 class="text-white font-bold">{{review.name}}</h2></div>
                    <div><h3 class="text-gray-300 font-bold">{{review.company}}</h3></div>
                </div>
            </div>

            <div id="review-text">
                <div><p class="text-white">" {{review.text}} "</p></div>
            </div>

            <div><span style="color: #047857;" class="material-symbols-outlined">
                star
                </span><span style="color: #047857;" class="material-symbols-outlined">
                    star
                    </span><span style="color: #047857;" class="material-symbols-outlined">
                        star
                        </span><span style="color: #047857;" class="material-symbols-outlined">
                            star
                            </span><span style="color: #047857;" class="material-symbols-outlined">
                                star
                                </span></div>


        </div>
    </body>
</html>